Repository sunillshastry/sunilshastry.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Change OG image configuration for Netlify
  app/blogs/[slug]/page.tsx
Due: prettier --write, eslint --fix

OG SEO image setting test
  .lintstagedrc.yaml
  app/api/og/route.tsx
  netlify.toml
Due: prettier --write, eslint --fix

.
  netlify.toml
Due: prettier --write

Update searchParams
  app/api/og/route.tsx
Due: prettier --write, eslint --fix

Remove cache strategy with netlify
  app/api/og/route.tsx
Due: prettier --write, eslint --fix

.
  app/api/og/route.tsx
Due: prettier --write, eslint --fix

Update styling for 'li' tag in mdx-components configuration
  mdx-components.tsx
Due: prettier --write, eslint --fix

Fix mini bug for formatted date (shows 010 for date instead of 10)
  utils/get-formatted-date.ts
Due: prettier --write, eslint --fix

Add new blog: Exploring Strategies in Mathematical Proofs
  content/exploring-strategies-in-mathematical-proofs.mdx
Due: prettier --write

Update resume.pdf
  public/resume.pdf
Due: none

Update styling for 'a' tags on default and hover state(s)
  mdx-components.tsx
Due: prettier --write, eslint --fix

New blog: How API Versioning can Make or Break Your Systems; fully written and customized and manually tested
  content/how-api-versioning-can-make-or-break-your-systems.mdx
Due: prettier --write

Add new resume
  public/resume.pdf
Due: none

Update selection background colour based on theme (opacity difference)
  components/main.tsx
Due: prettier --write, eslint --fix

Update home page bio-information and links
  app/page.tsx
Due: prettier --write, eslint --fix

Update titles on a few links
  app/page.tsx
Due: prettier --write, eslint --fix

Update Next.js version to loop over the security vulnerability; patched to latest Next version at 16.1.1
  package-lock.json
  package.json
Due: prettier --write

Auto update tsconfig.json config file
  tsconfig.json
Due: prettier --write

Update Netlify config to use node-v20 during build
  netlify.toml
Due: prettier --write

Remove turbopack option from 'next build' command
  package.json
Due: prettier --write

Update shadcn tooltip component from base registry
  components/ui/tooltip.tsx
  package-lock.json
Due: prettier --write, eslint --fix

Refactor the shadcn tooltip.tsx file to counter background update with the current theme setting
  components/ui/tooltip.tsx
Due: prettier --write, eslint --fix

Include a shadcn tooltip component for the email section within root page
  app/page.tsx
Due: prettier --write, eslint --fix

Create a basic GET route as an API request to fetch all blogs
  app/api/blogs/route.ts
Due: prettier --write, eslint --fix

Create a simple UI component view-as-api to provide an interface for users to access the API route via the link
  components/view-as-api.tsx
Due: prettier --write, eslint --fix

Append the ViewAsApi component within the blogs layout.tsx file
  app/blogs/layout.tsx
Due: prettier --write, eslint --fix

Place new and updated resume
  public/resume.pdf
Due: none

Update README.md: remove broken X (Twitter) link with a working option
  README.md
Due: prettier --write

Add new blog post: Deep Dive into the Anatomy of Caching Layers
  content/deep-dive-into-the-anatomy-of-caching-layers.mdx
Due: prettier --write

Update blog post title name
  content/deep-dive-into-the-anatomy-of-caching-mechanisms.mdx
Due: prettier --write

Update the ThemeSwitch component to better indicate the current set theme
  components/theme-switch.tsx
Due: prettier --write, eslint --fix

Update resume
  public/resume.pdf
Due: none

Update the content to reflect latest information and about details
  app/page.tsx
Due: prettier --write, eslint --fix

Update site meta and SEO options with updated content
  app/layout.tsx
Due: prettier --write, eslint --fix

Update the home page about section: better location description
  app/page.tsx
Due: prettier --write, eslint --fix

Place updated resume
  public/resume.pdf
Due: none

Install and create new shadcn/ui component within project directory (badge.tsx)
  components/ui/badge.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,jsx,js,json,md,mdx,yaml,yml,cts,cjs,toml,html}) or (any of: *.{ts,tsx,jsx,js,json,md,mdx,yaml,yml,cts,cjs,toml,html})
  eslint --fix: (any of: **/*.{ts,tsx,jsx,js}) or (any of: *.{ts,tsx,jsx,js})
