Repository sunillshastry/sunilshastry.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Update globals.css with shadcn styles configuration(s)
  app/globals.css
Due: none

Add .css file extension to lint-staged option for Prettier formatting
  .lintstagedrc.yaml
Due: prettier --write

Auto installed several packages/components for shadcn UI components
  package-lock.json
  package.json
Due: prettier --write

Install shadcn UI component: code-block; several dependent UI components installed together. Installed from shadcn.io registry
  components.json
  components/ui/button.tsx
  components/ui/select.tsx
  components/ui/shadcn-io/code-block/index.tsx
  components/ui/shadcn-io/code-block/server.tsx
Due: prettier --write, eslint --fix

Setup a custom/reusable component to display 'code' tags from MDX: code-snippet.tsx containing the CodeSnippet component
  components/code-snippet.tsx
Due: prettier --write, eslint --fix

Create new interface to handle codeblock UI component type
  interfaces/CodeBlock.ts
Due: prettier --write, eslint --fix

Auto created by shadcnui registry
  lib/utils.ts
Due: prettier --write, eslint --fix

Build a utility function to check comment character as first line ('//', '#', and 'html') comment(s)
  utils/check-comment-char.ts
Due: prettier --write, eslint --fix

Setup mdx-components.tsx file to configure custom styling and functionality for mdx elements in .mdx files
  mdx-components.tsx
Due: prettier --write, eslint --fix

Fix eslint warning/error (defining an unused variable) that failed build on Netlify (ridiculous)
  components/ui/shadcn-io/code-block/index.tsx
Due: prettier --write, eslint --fix

Install required dependency for shadcnui component
  package-lock.json
  package.json
Due: prettier --write

Update README.md's 'dependencies' section
  README.md
Due: prettier --write

Auto format by Prettier
  app/globals.css
Due: none

Update a 'format' script command and add new script command: 'format:fix'
  package.json
Due: prettier --write

Create new CI/CD workflow in GitHub to check for lint warnings/errors in lint.yaml file
  .github/workflows/lint.yaml
Due: prettier --write

Setup new CI/CD workflow in GitHub to adhere to formatting standards in format.yaml file
  .github/workflows/format.yaml
Due: prettier --write

Update resume.pdf
  public/resume.pdf
Due: none

Add prefetch option to blog link tag
  app/blogs/page.tsx
Due: prettier --write, eslint --fix

Add some margin for code-snippet component
  components/code-snippet.tsx
Due: prettier --write, eslint --fix

Add extra styling for h2 and h3 headers: mainly margin spacing
  mdx-components.tsx
Due: prettier --write, eslint --fix

Add a trademark conclucing message
  content/hello-world.mdx
Due: prettier --write

New blog: Short-circuiting in JavaScript; fully written and customized and manually tested
  content/short-circuiting-in-javascript.mdx
Due: prettier --write

Include new shadcn-ui component: tooltip
  components/ui/tooltip.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Install new package dependency: usehooks; package*.json files updated accordingly
  package-lock.json
  package.json
Due: prettier --write

Update tooltip UI component from shadcn-ui: add custom styling based on theme
  components/ui/tooltip.tsx
Due: prettier --write, eslint --fix

Update share-tab component: add new option to copy blog post URL with micro-interaction
  components/share-tab.tsx
Due: prettier --write, eslint --fix

Add new description in homepage: include Medium profile link
  app/page.tsx
Due: prettier --write, eslint --fix

Add aria-label property to button element for copy-link
  components/share-tab.tsx
Due: prettier --write, eslint --fix

Update font styling on tooltip content
  components/share-tab.tsx
Due: prettier --write, eslint --fix

Update 'Copy link' text styling: boldness, and font sizing.
  components/share-tab.tsx
Due: prettier --write, eslint --fix

Update mdx-components.tsx styling configuration: fix some spacing properties
  mdx-components.tsx
Due: prettier --write, eslint --fix

Update blog-title.tsx component with better semantic tags: <p> instead of headers
  components/blog-title.tsx
Due: prettier --write, eslint --fix

Create new component for blogs page(s): back-top.tsx; to scroll back to top at a later page scrollY value
  components/back-top.tsx
Due: prettier --write, eslint --fix

Include the BackTop component within blogs/layout.tsx source file
  app/blogs/layout.tsx
Due: prettier --write, eslint --fix

New blog: Beginner's guide to Redux Toolkit in React; fully written and customized and manually tested
  content/beginners-guide-to-redux-toolkit-in-react.mdx
Due: prettier --write

Add an 'aria-label' field property to the back-top component's button tag
  components/back-top.tsx
Due: prettier --write, eslint --fix

Update SEO OG image template with better looking OG image
  app/api/og/route.tsx
Due: prettier --write, eslint --fix

Update SEO OG image usage to take current URL address and update URL params
  app/blogs/[slug]/page.tsx
Due: prettier --write, eslint --fix

Publish new blog: Understanding token based authentication
  content/understanding-token-based-authentication.mdx
Due: prettier --write

Update pathname usage with .env
  app/blogs/[slug]/page.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,jsx,js,json,md,mdx,yaml,yml,cts,cjs,toml,html}) or (any of: *.{ts,tsx,jsx,js,json,md,mdx,yaml,yml,cts,cjs,toml,html})
  eslint --fix: (any of: **/*.{ts,tsx,jsx,js}) or (any of: *.{ts,tsx,jsx,js})
